In [149]:
#1) Load a dataset using Pandas and perform data cleaning operations such as removing null values,
#removing duplicates,number format etc.
import pandas
df1 = pandas.read_excel(r'C:\Users\pauli\Desktop\PhytonCourse\data1.xlsx')
df1

,label,2022 - 01,2022 - 02,2022 - 03,2022 - 04,2022 - 05,2022 - 06,2022 - 07,2022 - 08,2022 - 09,2022 - 10,2022 - 11,2022 - 12,2023 - 01
0,"Investicinių fondų turtas, iš viso",2316.5,2337.1,2381.9,2374.2,2407.0,2467.1,2510.1,2535.1,2533.3,2609.5,2665.3,2764.0,2770.2
1,Indėliai ir paskolų reikalavimai,515.1,516.6,516.3,504.5,515.4,528.5,532.0,552.1,565.4,599.2,595.9,610.2,607.9
2,Skolos vertybiniai popieriai,459.1,450.2,464.5,462.1,449.5,441.4,450.3,461.2,447.3,448.4,456.1,428.0,434.1
3,Nuosavybės priemonės,696.7,723.7,741.0,725.7,747.2,764.2,776.5,762.5,754.5,783.8,820.2,877.9,879.8
4,Investicinių fondų vienetai (akcijos),245.5,250.1,248.7,248.3,248.3,249.0,257.3,255.4,260.0,266.7,271.4,312.7,314.3
5,"Išvestinės finansinės priemonės, nefinansinis ...",400.1,396.5,411.4,433.6,446.7,484.0,494.0,503.8,506.1,511.4,521.6,535.2,534.1
6,"Išvestinės finansinės priemonės, nefinansinis ...",400.1,396.5,411.4,433.6,446.7,484.0,494.0,503.8,506.1,511.4,521.6,535.2,534.1

In [104]:
df1.isna().any() #This function provides the boolean value for the complete dataset to know if any null value is present or not.

label        False
2022 - 01    False
2022 - 02    False
2022 - 03    False
2022 - 04    False
2022 - 05    False
2022 - 06    False
2022 - 07    False
2022 - 08    False
2022 - 09    False
2022 - 10    False
2022 - 11    False
2022 - 12    False
2023 - 01    False
dtype: bool

In [108]:
df1.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [150]:
df1.drop_duplicates()

,label,2022 - 01,2022 - 02,2022 - 03,2022 - 04,2022 - 05,2022 - 06,2022 - 07,2022 - 08,2022 - 09,2022 - 10,2022 - 11,2022 - 12,2023 - 01
0,"Investicinių fondų turtas, iš viso",2316.5,2337.1,2381.9,2374.2,2407.0,2467.1,2510.1,2535.1,2533.3,2609.5,2665.3,2764.0,2770.2
1,Indėliai ir paskolų reikalavimai,515.1,516.6,516.3,504.5,515.4,528.5,532.0,552.1,565.4,599.2,595.9,610.2,607.9
2,Skolos vertybiniai popieriai,459.1,450.2,464.5,462.1,449.5,441.4,450.3,461.2,447.3,448.4,456.1,428.0,434.1
3,Nuosavybės priemonės,696.7,723.7,741.0,725.7,747.2,764.2,776.5,762.5,754.5,783.8,820.2,877.9,879.8
4,Investicinių fondų vienetai (akcijos),245.5,250.1,248.7,248.3,248.3,249.0,257.3,255.4,260.0,266.7,271.4,312.7,314.3
5,"Išvestinės finansinės priemonės, nefinansinis ...",400.1,396.5,411.4,433.6,446.7,484.0,494.0,503.8,506.1,511.4,521.6,535.2,534.1

In [151]:
df1['2022 - 01'] = df1['2022 - 01'].map('${:,.2f}'.format)
df1

,label,2022 - 01,2022 - 02,2022 - 03,2022 - 04,2022 - 05,2022 - 06,2022 - 07,2022 - 08,2022 - 09,2022 - 10,2022 - 11,2022 - 12,2023 - 01
0,"Investicinių fondų turtas, iš viso","$2,316.50",2337.1,2381.9,2374.2,2407.0,2467.1,2510.1,2535.1,2533.3,2609.5,2665.3,2764.0,2770.2
1,Indėliai ir paskolų reikalavimai,$515.10,516.6,516.3,504.5,515.4,528.5,532.0,552.1,565.4,599.2,595.9,610.2,607.9
2,Skolos vertybiniai popieriai,$459.10,450.2,464.5,462.1,449.5,441.4,450.3,461.2,447.3,448.4,456.1,428.0,434.1
3,Nuosavybės priemonės,$696.70,723.7,741.0,725.7,747.2,764.2,776.5,762.5,754.5,783.8,820.2,877.9,879.8
4,Investicinių fondų vienetai (akcijos),$245.50,250.1,248.7,248.3,248.3,249.0,257.3,255.4,260.0,266.7,271.4,312.7,314.3
5,"Išvestinės finansinės priemonės, nefinansinis ...",$400.10,396.5,411.4,433.6,446.7,484.0,494.0,503.8,506.1,511.4,521.6,535.2,534.1
6,"Išvestinės finansinės priemonės, nefinansinis ...",$400.10,396.5,411.4,433.6,446.7,484.0,494.0,503.8,506.1,511.4,521.6,535.2,534.1