In [32]:
import pandas as pd
data = pd.read_excel(r'C:\Users\pauli\Desktop\PhytonCourse\healthy_year.xlsx')
data

,GEO (Labels),Gender,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Belgium,Males,63.4,64.2,64.0,64.4,64.4,63.6,63.3,63.2,62.1,63.6
1,Bulgaria,Males,62.1,62.1,62.4,62.0,61.5,64.0,62.9,64.0,64.4,63.6
2,Czechia,Males,62.2,62.3,62.5,63.4,62.4,62.7,60.6,62.2,61.7,60.9
3,Denmark,Males,63.7,61.2,60.7,60.3,60.4,60.3,59.8,62.5,59.0,58.1
4,Germany (until 1990 former territory of the FRG),Males,57.8,57.3,57.7,56.4,65.3,65.3,65.1,65.1,65.4,64.7
...,...,...,...,...,...,...,...,...,...,...,...,...
57,Sweden,Females,64.6,64.8,65.0,72.8,72.2,73.3,71.9,72.0,72.7,72.7
58,Iceland,Females,67.7,68.0,66.7,66.9,66.2,63.7,60.6,59.0,59.0,59.0
59,Norway,Females,76.1,70.4,68.6,69.8,68.9,67.8,70.0,69.1,68.1,66.7
60,Switzerland,Females,64.7,67.6,58.4,56.7,57.8,57.7,59.4,59.5,60.0,60.7
61,United Kingdom,Females,65.2,64.5,64.8,64.2,63.3,63.1,62.0,60.8,60.8,60.8

In [48]:
df = data.groupby(["Gender", 'GEO (Labels)']).mean()
df

                        2011  2012  2013  2014  2015  2016  2017  2018  2019
Gender  GEO (Labels)
Females Austria         60.1  62.5  60.2  57.8  58.1  57.1  56.8  57.0  58.0  \
        Belgium         63.6  65.0  63.7  63.7  64.0  63.7  64.0  63.7  62.8
        Bulgaria        65.9  65.7  66.6  66.1  65.0  67.5  66.2  67.6  68.4
        Croatia         61.7  64.2  60.4  60.0  56.8  58.7  58.0  58.5  58.5
        Cyprus          61.0  64.0  65.0  66.1  63.4  68.8  65.8  62.4  63.0
...                      ...   ...   ...   ...   ...   ...   ...   ...   ...
Males   Slovenia        54.0  56.5  57.6  57.8  58.5  58.7  55.3  56.3  60.8
        Spain           65.4  64.8  64.7  65.0  63.9  65.9  69.0  68.0  69.4
        Sweden          66.3  66.4  66.4  73.0  73.1  73.0  73.2  73.7  73.8
        Switzerland     66.3  68.6  61.5  60.6  61.1  61.0  61.8  61.5  61.0
        United Kingdom  65.2  64.6  64.4  63.3  63.7  63.0  63.3  61.5  61.5

                        2020
Gender  GEO (Labels)
Females Austria         59.3
        Belgium         64.0
        Bulgaria        67.8
        Croatia         59.6
        Cyprus          63.1
...                      ...
Males   Slovenia        63.9
        Spain           66.3
        Sweden          72.8
        Switzerland     62.2
        United Kingdom  61.5

[62 rows x 10 columns]

In [50]:
data.sort_values(by='GEO (Labels)')

,GEO (Labels),Gender,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
50,Austria,Females,60.1,62.5,60.2,57.8,58.1,57.1,56.8,57.0,58.0,59.3
19,Austria,Males,59.5,60.2,59.7,57.6,57.9,57.0,57.4,56.8,56.7,58.2
31,Belgium,Females,63.6,65.0,63.7,63.7,64.0,63.7,64.0,63.7,62.8,64.0
0,Belgium,Males,63.4,64.2,64.0,64.4,64.4,63.6,63.3,63.2,62.1,63.6
1,Bulgaria,Males,62.1,62.1,62.4,62.0,61.5,64.0,62.9,64.0,64.4,63.6
...,...,...,...,...,...,...,...,...,...,...,...,...
57,Sweden,Females,64.6,64.8,65.0,72.8,72.2,73.3,71.9,72.0,72.7,72.7
60,Switzerland,Females,64.7,67.6,58.4,56.7,57.8,57.7,59.4,59.5,60.0,60.7
29,Switzerland,Males,66.3,68.6,61.5,60.6,61.1,61.0,61.8,61.5,61.0,62.2
30,United Kingdom,Males,65.2,64.6,64.4,63.3,63.7,63.0,63.3,61.5,61.5,61.5
61,United Kingdom,Females,65.2,64.5,64.8,64.2,63.3,63.1,62.0,60.8,60.8,60.8

In [51]:
data.groupby(by="Gender").describe()

         2011                                                      2012
        count       mean       std   min    25%   50%   75%   max count
Gender
Females  31.0  62.429032  4.992941  52.3  58.80  62.5  65.4  76.1  31.0  \
Males    31.0  61.877419  5.136517  52.1  57.75  62.2  65.6  74.0  31.0

                    ...   2019        2020
              mean  ...    75%   max count       mean       std   min    25%
Gender              ...
Females  62.845161  ...  66.75  73.5  31.0  62.790323  4.488085  54.3  59.45  \
Males    62.174194  ...  65.50  73.8  31.0  62.232258  4.654703  52.6  58.75


          50%    75%   max
Gender
Females  62.5  66.50  72.7
Males    62.4  64.85  72.8

[2 rows x 80 columns]